@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: oklch(0.696 0.17 162.48);
  --color-secondary: oklch(92.5% 0.084 155.995);
  --color-light-primary: oklch(98% 0.002 285.885);
  --color-light-secondary: oklch(86.9% 0.005 56.366);
  --color-dark-primary: oklch(0.21 0.006 285.885);
  --color-dark-secondary: oklch(55.2% 0.016 285.938);
}

:root {
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-bg-primary-dark);
  color: var(--color-text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
  overscroll-behavior: none;
}

#app {
}

* {
  @apply transition-colors duration-500;
}