@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@400;600;700;800&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-dark: var(--color-bg-dark);
  --color-bg: var(--color-bg);
  --color-bg-light: var(--color-bg-light);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-white: var(--color-text-white);
  --color-text-black: var(--color-text-black);
  --color-primary: var(--color-primary);
  --color-highlight: var(--color-highlight);
  --color-border: var(--color-border);
  --color-border-muted: var(--color-border-muted);

  /* Add font families */
  --font-family-sans:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-family-heading:
    'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

:root {
  --color-bg-dark: oklch(0.92 0 159);
  --color-bg: oklch(0.96 0 159);
  --color-bg-light: oklch(1 0 159);
  --color-text: oklch(0.15 0 159);
  --color-text-muted: oklch(0.4 0 159);
  --color-text-white: oklch(0.96 0 144);
  --color-text-black: oklch(0.15 0 159);
  --color-primary: oklch(0.696 0.17 162.48);
  --color-highlight: oklch(1 0 159);
  --color-border: oklch(0.6 0 159);
  --color-border-muted: oklch(0.7 0 159);

  color-scheme: light dark;
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-bg-dark: oklch(0.18 0 144);
  --color-bg: oklch(0.2 0 144);
  --color-bg-light: oklch(0.25 0 144);
  --color-text: oklch(0.96 0 144);
  --color-text-muted: oklch(0.76 0 144);
  --color-highlight: oklch(0.5 0 159);
  --color-border: oklch(0.4 0 159);
  --color-border-muted: oklch(0.3 0 159);

  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
}

* {
  transition:
    color 0.5s,
    background-color 0.5s,
    border-color 0.5s,
    box-shadow 0.5s;
}
