@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-dark: var(--color-bg-dark);
  --color-bg: var(--color-bg);
  --color-bg-light: var(--color-bg-light);
  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);
  --color-text-white: var(--color-text-white);
  --color-primary: var(--color-primary);
  --color-highlight: var(--color-highlight);
  --color-border: var(--color-border);
  --color-border-muted: var(--color-border-muted);
}

:root {
  --color-bg-dark: oklch(0.92 0 159);
  --color-bg: oklch(0.96 0 159);
  --color-bg-light: oklch(1 0 159);
  --color-text: oklch(0.15 0 159);
  --color-text-muted: oklch(0.4 0 159);
  --color-text-white: oklch(0.96 0 144);
  --color-primary: oklch(0.696 0.17 162.48);
  --color-highlight: oklch(1 0 159);
  --color-border: oklch(0.6 0 159);
  --color-border-muted: oklch(0.7 0 159);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  --color-bg-dark: oklch(0.18 0 144);
  --color-bg: oklch(0.2 0 144);
  --color-bg-light: oklch(0.25 0 144);
  --color-text: oklch(0.96 0 144);
  --color-text-muted: oklch(0.76 0 144);
  --color-highlight: oklch(0.5 0 159);
  --color-border: oklch(0.4 0 159);
  --color-border-muted: oklch(0.3 0 159);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overscroll-behavior: none;
}

#app {
}

* {
  @apply transition-colors duration-500;
}
